name = "ConcreteStructs"
uuid = "2569d6c7-a4a2-43d3-a901-331e8e4be471"
authors = ["Jonnie Diegelman <jonniediegelman@gmail.com> and contributors"]
version = "0.2.3"

[compat]
julia = "1.1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
